.product__price_details-ruble {
    margin: 0;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top:3.5px;
    padding-left:5px;

}

.product__price_details-ruble::after {
    content: "\20BD";
    
}